:root {

  --font-size-l: 20px;
  --font-size-m: 18px;

  --font-family-poppins: "Poppins", Helvetica;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:700,800");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}
/* screen - authentication-register-buyer-choice */

.authentication-register-buyer-choice {
  align-items: center;
  background-color: #f2f2f2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 760px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.authentication-register-buyer-choice .background-header-big-4eduM0 {
   background-color: white;
  border-radius: 0 0 50px 50px;
  height: 263px;
  height: 263px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.authentication-register-buyer-choice .btn-generic-C61RwL {
  align-items: flex-start;
  background-color: #36a6d4;
  border-radius: 5.983438968658447px;
  box-shadow: 0px 2.3933756351470947px 8.376814842224121px #0000000f;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 49px;
  justify-content: flex-end;
  margin-top: 102px;
  min-width: 289px;
  padding: 12.1px 12.3px;
  position: relative;
  width: auto;
}
.authentication-register-buyer-choice .btn-generic-VMr6Om {
  align-items: flex-start;
  background-color: #03568a;
  border-radius: 5.983438968658447px;
  box-shadow: 0px 2.3933756351470947px 8.376814842224121px #0000000f;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 49px;
  justify-content: flex-end;
  margin-top: 12px;
  min-width: 289px;
  padding: 12.1px 12.3px;
  position: relative;
  width: auto;
}
.authentication-register-buyer-choice .line-red-4eduM0 {
  background-color: #db430d;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #c33f151a;
  height: 3px;
  left: 201px;
  position: absolute;
  top: 262px;
  width: 134px;
}
.authentication-register-buyer-choice .login-4eduM0 {
  background-color: transparent;
  color: #4f3a57;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 800;
  height: auto;
  left: 83px;
  letter-spacing: -0.30px;
  line-height: 26.3px;
  position: absolute;
  text-align: left;
  top: 224px;
  white-space: nowrap;
  width: auto;
}
.authentication-register-buyer-choice .logo-4eduM0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: flex-start;
  left: 112px;
  min-width: 150px;
  position: absolute;
  top: 47px;
  width: auto;
}
.authentication-register-buyer-choice .logo-img-9mfXOU {
  background-color: transparent;
  flex-shrink: 1;
  height: 151px;
  margin-top: -0.42px;
  position: relative;
  width: 150px;
}
.authentication-register-buyer-choice .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 265px;
  position: relative;
  width: 100%;
}
.authentication-register-buyer-choice .registo-4eduM0 {
  background-color: transparent;
  color: #4f3a57;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 800;
  height: auto;
  left: 225px;
  letter-spacing: -0.30px;
  line-height: 26.3px;
  position: absolute;
  text-align: left;
  top: 224px;
  white-space: nowrap;
  width: auto;
}
.authentication-register-buyer-choice .text-btn-generic-i119481226-Sts0rK {
  background-color: transparent;
  color: #ffffff;
  flex-shrink: 1;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: auto;
  letter-spacing: -0.27px;
  line-height: 23.7px;
  min-height: 23px;
  min-width: 262px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 262px;
}
.authentication-register-buyer-choice .text-btn-generic-i119482226-NLXNbA {
  background-color: transparent;
  color: #ffffff;
  flex-shrink: 1;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: auto;
  letter-spacing: -0.27px;
  line-height: 23.7px;
  min-height: 23px;
  min-width: 262px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 262px;
}
