@import "auth/login";
@import "auth/register";
@import "auth/buyer-individual";
@import "auth/buyer-choice";
@import "auth/buyer-collective";
@import "auth/seller";
@import "painel-seller/dashboard";
@import "painel-seller/salle-step-1";
@import "painel-seller/salle-step-2";


.border-error{
   border: 2px solid #f90000;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}